<!-- softanbess mentor starts -->

<section id="Mentorship" class="becomae_menotr section pt-5 pb-5 ">
    <div class="container ">
        <div class="row d-flex justify-content-center text-center ">
            <div class="col-sm col-md-3 ">
                <img src="https://assets.scaler.com/assets/scaler/png/Group 242-ad5ecbe718f9788691d11aa1b9bfaa5d5c889fbcbeb806f4e73de269007c05f3.png.gz " alt=" ">
            </div>
            <div class="col-sm col-md-6 ">
                <h2>Become a Softanbees Mentor</h2>
                <p>A chance to give back to the community. Mentor Scaler students and help them unlock their true potential.</p>
            </div>
            <div class="col-sm col-md-3 ">
                <button data-target="#exampleModal" data-toggle="modal" class="btn know_more_info ">Know More</button>
            </div>
        </div>

    </div>
</section>

<!-- softanbess mentor ends -->
