

<!-- banner starts -->
<!-- <section class="banner_header "> -->
<!-- <canvas  style="background: white;" width="500" height="500" id="canvas"></canvas> -->
<section id="particles_section" style="padding-bottom: 80px;" >
    <div id="particles">
        <div class="intro pb-5 ">
            <div class="container">
                <h1>Drop Your Email To Start Your Data Journey!!</h1>
                <div class="input-group  mt-5">
                    <input required id="only_email" type="email" class="form-control input-btn-main" placeholder="Email Here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button id="only_email_btn_click" class="btn btn-journey " type="button">Start Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- </section> -->
<!-- banner ends -->
