{% load static %}
<!-- softanbess mentor starts  -->
<section id="Mentorship" style="background-color: grey; " class="section pt-5 pb-5 mentroship_section ">
    <div class="container menotr ">
        <h2 style="text-align: center; ">Our <b>teaching army</b> will make you <b>confident about your fundamentals</b> </h2>
        <p>Engage with our industry experts and get the holistic corporate expousure under their mentorship </p>
        <div class="mentor-items ">
            <div class="mentor-item ">
                <div class="card card-item " style="width: 18rem; ">
                    <img style="height: 210px; " class="card-img-top " src="{% static 'asset/mentor-1.jpg' %}" alt="Card image cap " class="person ">
                    <div class="card-body ">
                        <h5 style="font-weight: 900" class="card-title ">Dinesh Kumar Agarwal</h5>
                        <small><b>Education:</b> PGDM Marketing - IMT Ghaziabad, B.Tech CSE - BIT Sindri</small>
                        <small><b>Experience:</b> 2.5 Years-Decision Scientist, Mu Sigma Business Solutiions Pvt. LTd.</small>
                        <div class="mentor_read_more ">
                            <a class=" read_more_btn btn " href="# ">Read more ></a>
                            <a class="linkedin_icon" target="_blank" href="https://www.linkedin.com/in/dinesh-kumar-agarwal-82760b6b/"> <i style="color:#0e76a8; " class="fab fa-linkedin "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- softanbess mentor starts -->
