{% load static %}
<!-- partnership starts -->
<section id="partnership" style="background-color:whitesmoke ; " class="section pt-5 pb-5 ">
    <div class="container ">
        <h3 style="text-align: center; ">Our Corporate Strength</h3>
        <div class="row partnership pt-5 ">

            <div class="col-sm-6 col-md-3 individul-part d-flex justify-content-center ">
                <!-- <div class="partnership-items "> -->
                    <div class="partnership-item  ">
                        <img style="width: 100%; " src="{% static 'asset/partner_1.jpeg' %}" alt=" ">
                    </div>
            </div>
            <div class="col-sm-6 col-md-3 individul-part d-flex justify-content-center ">
                <div class="partnership-item ">
                    <img style="width: 100%; " src="{% static 'asset/partner_2.png' %}" alt=" ">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 individul-part d-flex justify-content-center ">
                    <div class="partnership-item ">
                        <img style="width: 100%; " src="{% static 'asset/partner_3.png' %}" alt=" ">
                    </div>
                <!-- </div> -->
            </div>
            <div class="col-sm-6 col-md-3 individul-part d-flex justify-content-center ">
                <div class="partnership-item ">

                    <img style="width: 100%; " src="{% static 'asset/tata-power-11.png' %}" alt=" ">
                </div>
            <!-- </div> -->
        </div>

        </div>



        </div>
    </div>
</section>
<!-- partnership ends -->
