<!-- System and probelm starts -->
<section class="banner_transparent ">
    <div class="container banner_over align-items-center ">
        <div class="text-center ">
            <h3>
                A program for data enthusiasts to learn <b>industry standard data product research and development</b>
            </h3>
        </div>
        <div class="system_box_margin p-4 ">
            <div class="row my-1 ">
                <div class=" col-sm-12 col-md-4 system_box">
                    <div style="background-color:#F8E9A1" class="content_box">
                        <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/structured-c36517d8d41efb3a24cbcb3fe1c8b27ffcfacb6b1462ec3e60516504a07eaff6.svg.gz " alt=" ">
                        <h4>Flexible and user oriented, industry vetted curriculum</h4>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 system_box ">
                    <div  style="background-color:#F76C6C" class="content_box" >
                        <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/live-classes-afff2e39f63a26a19ee4ae844d4b0891c20c50e4b670a224564640cbb973f867.svg.gz " alt=" ">
                        <h4>Live classes by data veterans and expert faculties</h4>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-4 system_box ">
                    <div style="background-color:#A8D0E6" class="content_box" >
                        <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/project1-9fc6130d4e271198d5f051da0712b27627c872a353dac61c91f248e4f60b6ddf.svg.gz " alt=" ">
                        <h4>Practical experience through real life industry projects</h4>
                    </div>

                </div>
                <div  class=" col-sm-12 col-md-4 system_box ">
                    <div style="background-color:#F76C6C" class="content_box">
                        <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/flexibility-94067174b36a4a38b3448219f64ccd3e42b3f32667c5ff0ec8d8fab665525d87.svg.gz " alt=" ">
                        <h4>Regular one & one mentorship by industry experts</h4>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 system_box ">
                    <div style="background-color:#A8D0E6" class="content_box" >
                        <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/career-support-c92399914995cba52680341de44c1ce49d292b1de0f10aeb58c3c58a79e3ad3b.svg.gz " alt=" ">
                        <h4>Direct support in data science based research </h4>
                    </div>

                </div>
                <div  class="col-sm-12 col-md-4 system_box ">
                    <div style="background-color:#F8E9A1" class="content_box">
                        <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/mentor-efc7b3e100e7f2bd17f1f95f4ca28b5205ac3f4e04d4cddd064a800cc63f1c74.svg.gz " alt=" ">
                        <h4>Following 80/20 principal in training program design</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- System and probelm  ends -->
