{% load static %}
<!-- testimonial starts -->
<section id="Teaching" style="background-color:darkgrey; " class="section testimonial_section ">
    <div class="container testimonial ">
        <h1 style="text-align: center; ">Your learning is important. It’s a good idea to go through
            <b> reviews of previous students</b> to make an informed decision</h1>
        <p style="text-align: center; ">1,000+ working professionals have joined the Softanbees Academy family!</p>

        <div class="items ">
            <div class="item image-name-testimonial ">
                <div class="flex-items ">
                    <div class="flex-item ">
                      <img src="{% static 'asset/person-1.jpeg' %}" alt=" ">
                    </div>
                    <div style="width: 200px; " class="flex-item ">
                        <p style="width: 100%;">Ujjal Kumar Naskar</p>
                        <p><span>Sr. Engineer</span></p>
                    </div>
                </div>
                <div class="testimonial-content pt-2 ">

                    <p><img src="{% static 'asset/tata-power-1.png' %}" alt=" ">This training program helped me a lot to better understand the data that we had in our organization. I will get to know how I can use my domain knowledge for better understanding . The instructors are pretty good at explaining all the concepts as well as the practical assessment . I would like to recommend this training program as a starter to get into the world of data science</p>
                </div>
                <div class="read_more ">
                    <button class="btn btn-danger ">Read More ></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial Ends -->
