<!-- trusting us starts -->
<section id="trusting" style="background-color: white;" >
<div class="container text-center pt-4">
    <h3>Why Trusting Us?</h3>
    <div class="row ">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="corporate p-2 m-3 pt-4 pb-3 box_border" >
                <h5>Nubmer of Corporates</h5>
                <h5><span class="count" >7</span> +</h5>

            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="products p-2 m-3 pt-4 pb-3 box_border">
                <h5>Nubmer of Products </h5>
                <h5><span class="count" >10</span> +</h5>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="scientist p-2 m-3 pt-4 pb-3 box_border" >
                <h5>Total Trained Data Scientist</h5>
                <h5><span class="count">120</span> +</h5>
            </div>
        </div>
<!-- 
        <div class="col-sm col-md-4 ">
            <div class="intership p-2 m-3 pt-4 pb-3 box_border" >
                <h5>Total Paid Internship Provided</h5>
                <h5> <span class="count">25</span> +</h5>
            </div>
        </div>
        <div class="col-sm col-md-4">
            <div class="aspirants p-2 m-3 pt-4 pb-3 box_border">
                <h5>Total Aspirants Reached</h5>
                <h5><span class="count">2500</span> +</h5>
            </div>
        </div>
        <div class="col-sm col-md-4">
            <div class="trained p-2 m-3 pt-4 pb-3 box_border">
                <h5>Total Trained Data Scientist</h5>
                <h5><span class="count">120</span> +</h5>
            </div>
        </div> -->

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="corporate p-2 m-3 pt-4 pb-3 box_border" >
                <h5>Total Paid Internship Provided</h5>
                <h5> <span class="count">25</span> +</h5>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="products p-2 m-3 pt-4 pb-3 box_border">
                <h5>Total Aspirants Reached</h5>
                <h5><span class="count">2500</span> +</h5>
            </div>
        </div>
    </div>
</div>
</section>
<!-- trusting us ends -->
